@{
    ViewData["Title"] = "Home Page";
}

@section styles{
    <link rel="stylesheet" href="~/css/Home.css" />
}

<div class="hero-section mt-3">

    <div class=" heading-box container text-center text-success bg-white">
        <p>Transforming Waste into Worth</p>
        <p>Join us in reducing food waste and feed communities.</p>
    </div>
</div>
